* {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    font-weight: normal;
}

.body {
    position: relative;
    width: 100%;
    height: 1335px;
    background: #fff;
    font-family: Roboto;
    font-style: normal;
}

.container{
    max-width: 1920px;
    margin: 0 auto;
}

.first_footer {
    background-image: url(../image/Rectangle\ 90.png );
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 180px;
}

.img_dog {
    background-image: url(../image/dog.png);
    width: 260px;
    height: 266px;
    position: relative;
    left: -55px;
    top: -37px;    
}

.check_in_text {
    max-width: 400px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    margin-left: 45px;
    text-align: center;
    color: #202454;
}

.check_in_button {
    width: 225px;
    height: 48px;
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 15px  15px 32px  ;
    padding-right: 32px;
    background: #E77E42;
    border-radius: 3px;
    border:none;
    margin-left: 128px;
    margin-top: 12px;
    
}

.second_footer {
    background-image: url(../image/Rectangle\ 91.png);
    background-size: 1920px 319px;
}

.logo_footer {
    padding-top: 56px;
}

.blocks {
    max-width: 1400px;
    margin: 0 auto;
    display:flex;
    justify-content: space-between;
    padding-bottom: 50px;
    border-bottom: 1px solid rgba(255, 255, 255, .4);
}

.block {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    margin-top: 56px;
    margin-bottom: 24px;
}

.block1 {
    width: 220px;
}

.block2 {
  width: 220px;
}

.block3 {
    width: 220px;
}

.link {
    display: grid;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    opacity: 0.6;
    margin-bottom: 12px;
    text-decoration: none;
}

.up_text {
    margin-right: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    text-align: right;
    color: #FFFFFF;
    opacity: 0.6;
 
}

.up_img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.creator_information {
    padding: 25px 0;
    margin: 0 auto;
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
}

.developer_company {
    display: flex;
}

.developer_company span{
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    text-align: right;
    color: #FFFFFF;
}

.info {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    color:rgba(255, 255, 255, .4)
}

@media screen and (max-width: 1400px){

    .logo_footer{
        margin: 35px 0 50px;
    }

    a{
        display: inline-block;
    }

    .blocks{
        justify-content: center;
        max-width: 1000px;
        flex-wrap: wrap;
        text-align: center;
    }

    .block {
        margin: 0 auto;
        width: 100%;
        margin-bottom: 25px;
    }
    
    .block1 {
        margin: 0 auto;
        width: 100%;
        margin-bottom: 40px;
    }
    
    .block2 {
        margin: 0 auto;
        width: 100%;
        margin-bottom: 40px;
    }
    
    .block3 {
        margin: 0 auto;
        width: 100%;
        margin-bottom: 40px;
    }

    .up_img{
        margin: 0;
    }

    .up_text{
        margin: 0;
        margin-right: 10px;
    }

    .creator_information{
        max-width: 1000px;
    }
}

@media screen and (max-width : 853px) {
    .img_dog {
        display: none;
    }

    .check_in{
        max-width: 100%;
    }

    .first_footer{
        max-width: 950px;
        justify-content:center;
    }

    .logo_footer{
        margin: 35px 0 50px;
    }

    a{
        display: inline-block;
    }

    .blocks{
        justify-content: center;
        max-width: 1000px;
        flex-wrap: wrap;
        text-align: center;
    }

    .block {
        margin: 0 auto;
        width: 100%;
        margin-bottom: 25px;
    }
    
    .block1 {
        margin: 0 auto;
        width: 100%;
        margin-bottom: 40px;
    }
    
    .block2 {
        margin: 0 auto;
        width: 100%;
        margin-bottom: 40px;
    }
    
    .block3 {
        margin: 0 auto;
        width: 100%;
        margin-bottom: 40px;
    }

    .up_img{
        margin: 0;
    }

    .up_text{
        margin: 0;
        margin-right: 10px;
    }

    .creator_information{
        max-width: 1000px;
    }
}


@media screen and (max-width : 433px) {

    .img_dog {
        display: none;
    }

    .logo_footer{
        margin: 35px 0 50px;
    }

    a{
        display: inline-block;
    }

    .blocks{
        justify-content: center;
        max-width: 1000px;
        flex-wrap: wrap;
        text-align: center;
    }

    .block {
        margin: 0 auto;
        width: 100%;
        margin-bottom: 25px;
    }
    
    .block1 {
        margin: 0 auto;
        width: 100%;
        margin-bottom: 40px;
    }
    
    .block2 {
        margin: 0 auto;
        width: 100%;
        margin-bottom: 40px;
    }
    
    .block3 {
        margin: 0 auto;
        width: 100%;
        margin-bottom: 40px;
    }

    .up_img{
        margin: 0;
    }

    .up_text{
        margin: 0;
        margin-right: 10px;
    }

    .creator_information{
        max-width: 1000px;
    }
}
